{% extends 'layout.html.twig' %}


{% block title %}Edit Usuario{% endblock %}

{% block contenido %}
    <h1>Edit Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('usuario_index') }}">back to list</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
