{% extends 'layout.html.twig' %}

{% block title %}New Usuario{% endblock %}

{% block contenido %}
    <h1>Create new Usuario</h1>

    {{ include('usuario/_form.html.twig') }}

    <a href="{{ path('usuario_index') }}">back to list</a>
{% endblock %}
