{% extends 'layout.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block contenido %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ usuario.avatar }}</td>
            </tr>
            <tr>
                <th>Rango</th>
                <td>{{ usuario.rango }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ usuario.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuario_index') }}">back to list</a>

    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
