{% extends 'base.html.twig' %}

{% block title %}Mensaje index{% endblock %}

{% block body %}
    <h1>Mensaje index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Mensaje</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.id }}</td>
                <td>{{ mensaje.remitente }}</td>
                <td>{{ mensaje.destinatario }}</td>
                <td>{{ mensaje.mensaje }}</td>
                <td>{{ mensaje.fecha ? mensaje.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('mensaje_show', {'id': mensaje.id}) }}">show</a>
                    <a href="{{ path('mensaje_edit', {'id': mensaje.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mensaje_new') }}">Create new</a>
{% endblock %}
