{% extends 'base.html.twig' %}

{% block title %}Mensaje{% endblock %}

{% block body %}
    <h1>Mensaje</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mensaje.id }}</td>
            </tr>
            <tr>
                <th>Remitente</th>
                <td>{{ mensaje.remitente }}</td>
            </tr>
            <tr>
                <th>Destinatario</th>
                <td>{{ mensaje.destinatario }}</td>
            </tr>
            <tr>
                <th>Mensaje</th>
                <td>{{ mensaje.mensaje }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ mensaje.fecha ? mensaje.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mensaje_index') }}">back to list</a>

    <a href="{{ path('mensaje_edit', {'id': mensaje.id}) }}">edit</a>

    {{ include('mensaje/_delete_form.html.twig') }}
{% endblock %}
