<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}"/>
        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="{{asset('/css/slick.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{asset('/css/slick-theme.css')}}"/>

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="{{asset('/css/nouislider.min.css')}}"/>

        <!-- Font Awesome Icon -->

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="{{asset('/css/style.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{asset('/css/cards.css')}}"/>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
