{% extends 'base.html.twig' %}

{% block title %}
Electro - HTML Ecommerce Template
{% endblock %}

{% block body %}

    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li>
                        <a href="#"><i class="fa fa-phone"></i> Teléfono</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i> Dirección</a>
                    </li>
                </ul>
                <ul class="header-links pull-right">
                    <?php use EV\core\App;

                if(!is_null($_usuario)) : ?>
{#
                    <?php if($_usuario->getRole()=='ROLE_ADMIN') : ?>
#}
                    <li>
                        <a href="/usuarios"><i class="fa fa-users"></i> Gestionar usuarios</a>
                    </li>
                    <?php endif; ?>
                    <li>
                        <a href="/mensajes"><i class="fa fa-envelope"></i> Mis mensajes</a>
                    </li>
                    <li>
                        <a href="/usuarios/<?= $_usuario->getId()?>/articulos"><i class="fas fa-book"></i> Mis artículos</a>
                    </li>
                    <li>
                        <a href="/usuarios/<?= $_usuario->getId()?>"><i class="fas fa-user"></i> Mi perfil</a>
                    </li>
                    <li>
                        <a href="/logout"> <i class="fas fa-sign-out-alt"></i> {#<?= $_usuario->getUsername()?> #}Usuario - Salir</a>
                    </li>
                    <?php else : ?>
                    <li>
                        <a href="/login"> <i class="fas fa-sign-out-alt"></i> Entrar</a>
                    </li>
                    <li>
                        <a href="/registro"> <i class="fas fa-sign-out-alt"></i> Registrarse</a>
                    </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="d-flex flex-row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="/articulos/" method="post">
                                <select class="input-select" name="categoria">
                                    <option value="todas">Todas</option>
                                    <?php $categorias = App::get('config')['app']['categorias'];
                                foreach ($categorias as $categoria) : ?>
                                    <option value="<?= $categoria ?>"><?= $categoria ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input class="input" placeholder="Búsqueda..." name="busqueda">
                                <button class="search-btn" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="d-flex flex-col">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <?php if(!is_null($_usuario)) : ?>
                            <div>
                                <a href="/articulos/new"><i class="fas fa-plus-square"></i> <span>Añadir un artículo</span></a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div>
                                <a href="/carro"><i class="fa fa-shopping-cart"></i><span>Mi carro de la compra</span></a>
                            </div>
                            <?php endif;?>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menú</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active">
                        <a href="/articulos">Home</a>
                    </li>
                    <li>
                        <a href="/articulos/categoria/sobremesa">PC Sobremesa</a>
                    </li>
                    <li>
                        <a href="/articulos/categoria/portatiles">Portátiles</a>
                    </li>
                    <li>
                        <a href="/articulos/categoria/moviles">Móviles</a>
                    </li>
                    <li>
                        <a href="/articulos/categoria/consolas">Consolas</a>
                    </li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    {% block contenido %} {% endblock %}
{% endblock %}