{% extends 'layout.html.twig' %}

{% block title %}Articulo index{% endblock %}

{% block contenido %}
    <br>
    <div class="container">
        {% for articulo in articulos %}
            <div class="card col-md-6 text-center" >
                <img src="/articulos/{{ articulo.imagen }}/foto" class="card-img-top" height="250px" alt="/articulos/{{ articulo.imagen }}/foto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="card-title">{{ articulo.nombre }}</h4>
                        </div>
                        <div class="col-md-3 pull-right"><h5>Vendedor: <a href="usuarios/{{ articulo.usuario }}">{{ articulo.usuario }}</a></h5>
                        </div>
                    </div>
                    <p class="card-text">{{ articulo.descripcion }}</p>

                    <div class="row">
                        <div class="col-md-3">
                            <h6>Precio:</h6>{{ articulo.precio }} €
                        </div>
                        <div class="col-md-5">
                            <h6>Categoria:</h6>{{ articulo.categoria }}
                        </div>
                        <div class="col-md-4">
                            <h6>Estado:</h6>{{ articulo.estado }}
                        </div>
                    </div><br>
                    <a href="/articulos/{{ articulo.id }}" class="btn btn-primary">Ver</a>
                    <?php if ($_usuario) :?>
                    <div class="row">

                        <?php if ($_usuario->getId() == {{ articulo.usuario }} || $_usuario->getRole()=='ROLE_ADMIN') :?>
                        <a href="/articulos/{{ articulo.id }}/edit" class="btn btn-primary">Modificar</a>
                        <?php endif; ?>
                        {{ include('articulo/_delete_form.html.twig') }}
                    </div>

                    <?php if ($_usuario->getId() != {{ articulo.usuario }}) :?>
                    <div class="row">
                        <a href="/usuarios/carro/{{ articulo.id }}" class="btn btn-primary">Al carro</a>
                    </div>
                    <?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
