{% extends 'layout.html.twig' %}

{% block title %}New Articulo{% endblock %}

{% block contenido %}
    <h1>Create new Articulo</h1>

    {{ include('articulo/_form.html.twig') }}

    <a href="{{ path('articulo_index') }}">back to list</a>
{% endblock %}
