{% extends 'layout.html.twig' %}

{% block title %}Articulo{% endblock %}

{% block contenido %}
    <h1>Articulo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articulo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ articulo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ articulo.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ articulo.precio }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ articulo.categoria }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ articulo.estado }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ articulo.imagen }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ articulo.fecha ? articulo.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ articulo.usuario }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('articulo_index') }}">back to list</a>

    <a href="{{ path('articulo_edit', {'id': articulo.id}) }}">edit</a>

    {{ include('articulo/_delete_form.html.twig') }}
{% endblock %}
